@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

html,
body {
  font-family: "Open Sans" !important;
  font-size: 16px !important;
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.625rem;
  padding: 1.875rem 1.25rem;
  margin-top: 1.875rem;
  margin: 0 auto;
  background-color: #fff;
}

.hero-text {
  margin: 25px 0px 50px;
  text-align: center;
}

.hero-text h1 {
  font-size: 25px !important;
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans" !important;
  margin: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-grey {
  background-color: #f6f7fc;
  padding: 20px;
}

.form-field {
  margin-bottom: 0.9375rem;
}

.form-field input {
  width: calc(100% - 20px);
  border: 1px solid #199bad;
  padding: 0.3125rem 1.25rem;
}

.form-field select {
  width: calc(100% - 20px);
  border: 1px solid #199bad;
  padding: 0.3125rem 1.25rem;
  background-color: #fff;
}

.form-field select option {
  padding: 0.3125rem 1.25rem;
}

.form-field--rounded input {
  border-radius: 20px;
}

.l-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.l-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.l-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.l-toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.l-toggle-slider {
  background-color: #009a81;
}

input:focus+.l-toggle-slider {
  box-shadow: 0 0 1px #009a81;
}

input:checked+.l-toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded l-toggle-sliders */

.l-toggle-slider.round {
  border-radius: 34px;
}

.l-toggle-slider.round:before {
  border-radius: 50%;
}

.container {
  max-width: 1000px !important;
  margin: 0 auto !important;
  padding: 0 0.9375rem;
}

.zy.connect {
  background-color: #fff;
  text-align: center;
  max-width: 37.5rem;
  margin: 0 auto;
}

.zy.connect .connect__card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd;
  padding-bottom: 0.625rem;
  margin-bottom: 1.25rem;
}

.zy.connect .connect__thumb {
  max-width: 9.375rem;
}

.zy.map .map_fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zy.map .map_fields .form-field {
  width: 40%;
  flex: 0 0 40%;
  margin-right: 0.625rem;
}

.zy.map .map_fields .map__button {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.zy.map .map_fields .map__button p {
  display: inline-block;
  margin-right: 0.625rem;
  color: #199bad;
  font-weight: 600;
  font-size: 12px;
}

.zy.map .map_fields .map__button button {
  cursor: pointer;
}

.zy.process-nav {
  max-width: 800px;
  /*margin: 20% auto 70px;*/
  margin: 10% auto 48px;
}

.zy.process-nav ul {
  display: flex;
}

.zy.process-nav ul li {
  display: inline-flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zy.process-nav ul li .step-item {
  border: 0.125rem solid #8b8080;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.zy.process-nav ul li .step-item::before {
  content: "";
  height: 4px;
  width: 263%;
  right: 132%;
  position: absolute;
  background: #ddd;
  z-index: -1;
}

.zy.process-nav ul li .step-item svg {
  font-size: 25px;
  color: #fff;
  display: none;
}

.zy.process-nav ul li.active .step-item {
  background-color: #4eb819;
  color: #fff;
  border-color: #4eb819;
}

.zy.process-nav ul li.active .step-item::before {
  background-color: #4eb819;
}

.zy.process-nav ul li.active .step-item span {
  display: none;
}

.zy.process-nav ul li.active .step-item svg {
  display: inline-block;
}

.zy.process-nav ul li h3 {
  color: #8b8080;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.75rem;
}

.zy.process-nav ul li:first-child .step-item::before {
  content: none;
}

.container {
  margin: 6.25rem auto;
  max-width: 64rem;
}

.next__wrap {
  text-align: right;
  margin-top: 1.875rem;
}

.l-btn {
  padding: 0.625rem 0.9375rem;
  background-color: orange;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.l-btn svg {
  margin-left: 10px;
}

.l-add-more {
  background-color: transparent;
  -webkit-appearance: none;
  color: #fff;
  border: 0;
  margin-top: 5rem;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: #4eb819;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.zy.product .product__thumb {
  text-align: center;
  max-width: 9.375rem;
  margin: 0 auto 20px;
}

.zy.product .product__thumb img {
  height: 60px;
}

.zy.product .product__wrap {
  display: flex;
}

.zy.product .product__wrap .product__left {
  width: 45%;
  flex: 0 0 45%;
  margin-right: 1.25rem;
}

.zy.product .product__wrap .product__right {
  width: 45%;
  flex: 0 0 45%;
}