<template>
  <div class="container">
    <!-- Progress Bar -->
    <div class="zy process-nav">
      <ul>
        <li class="active">
          <div class="step-item"><span>1</span></div>
          <h3>Connect</h3>
        </li>
        <li class="active">
          <div class="step-item"><span>2</span></div>
          <h3>Map</h3>
        </li>
        <li>
          <div class="step-item"><span>3</span></div>
          <h3>Sync</h3>
        </li>
        <li>
          <div class="step-item"><span>4</span></div>
          <h3>Sell</h3>
        </li>
      </ul>
    </div>
    <!-- Connect Page -->
    <div class="zy connect">
      <div class="hero__text">
        <h1>Connect your Stripe Account - Frontend</h1>
      </div>
      <div class="card card--connect">
        <div class="connect__card-wrap">
          <div class="connect__thumb"><img src="images/logo.png" alt="Logo" /></div>
          <div class="connect__toggle">
            <label class="l-toggle">
              <input type="checkbox" checked="" /><span class="l-toggle-slider round"></span>
            </label>
          </div>
        </div>
        <div class="connect__wrap">
          <div class="connect__fields">
            <input type="text" placeholder="lorem epsum sit" />
          </div>
          <div class="connect__fields">
            <input type="text" placeholder="lorem epsum sit" />
          </div>
        </div>
      </div>
      <div class="next__wrap"><a class="l-btn" href="#" title="button">Next</a></div>
    </div>

    <!-- Map Page -->
  </div>
</template>
<script>
module.exports = {
  name: "Frontend",
};
</script>
<style scoped>
@import "../assets/css/main.css";
</style>
