<template>
  <!-- Sidebar -->
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width: 16%">
    <h3 class="w3-bar-item">A8 Labs UI</h3>
    <router-link to="/" class="w3-bar-item w3-button">Zeybra</router-link>
    <router-link to="/ui" class="w3-bar-item w3-button">Frontend UI</router-link>
  </div>

  <!-- Page Content -->
  <div style="margin-left: 16%">
    <div class="w3-container w3-teal">
      <h3>Zeybra</h3>
    </div>

    <div class="w3-container">
      <Frontend />
    </div>
  </div>
</template>

<script>
import Frontend from "./Frontend.vue";
export default {
  name: "UIHome",
  components: {
    Frontend,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../assets/css/w3.css";
</style>
