<template>
  <div class="container">
    <!-- Progress Bar -->
    <div class="zy process-nav">
      <ul>
        <li
          :class="{ active: step === 'connect' || step === 'map' || step === 'sync' || step === 'sell' }"
          @click="navigateSteps('connect')"
        >
          <div class="step-item"><span>1</span> <i class="far fa-check-circle"></i></div>
          <h3>Connect</h3>
        </li>
        <li :class="{ active: step === 'map' || step === 'sync' || step === 'sell' }" @click="navigateSteps('map')">
          <div class="step-item"><span>2</span><i class="far fa-check-circle"></i></div>
          <h3>Map</h3>
        </li>
        <li :class="{ active: step === 'sync' || step === 'sell' }" @click="navigateSteps('sync')">
          <div class="step-item"><span>3</span><i class="far fa-check-circle"></i></div>
          <h3>Sync</h3>
        </li>
        <li :class="{ active: step === 'sell' }" @click="navigateSteps('sell')">
          <div class="step-item"><span>4</span><i class="far fa-check-circle"></i></div>
          <h3>Sell</h3>
        </li>
      </ul>
    </div>
    <!-- Connect Page -->
    <div class="zy connect" v-if="step === 'connect'">
      <div class="hero-text">
        <h1>Connect your Stripe Account</h1>
      </div>
      <div class="bg-grey">
        <div class="card card--connect">
          <div class="connect__card-wrap">
            <div class="connect__thumb"><img src="../assets/images/Stripe-logo.png" alt="Logo" /></div>
            <div class="connect__toggle">
              <label class="l-toggle">
                <input type="checkbox" checked="" /><span class="l-toggle-slider round"></span>
              </label>
            </div>
          </div>
          <div class="connect__wrap">
            <div class="form-field">
              <input
                type="text"
                name="access-token"
                id="access-token"
                v-model="stripe.accessToken"
                placeholder="Stripe Access Token"
              />
            </div>
            <div class="form-field">
              <input
                type="text"
                name="secret-key"
                id="secret-key"
                v-model="stripe.secretKey"
                placeholder="Stripe Secret Key"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="next__wrap">
        <button class="l-btn" title="button" @click="loginToStripe">
          Next<i class="fas fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
    <!-- Map Page -->
    <div class="zy map" v-if="step === 'map' && mapStep === 'customer'">
      <div class="hero-text">
        <h1>Map your fields from stripe</h1>
      </div>
      <div class="bg-grey">
        <div class="card card--map">
          <div class="map_wrap">
            <div class="map_fields">
              <div class="form-field form-field--rounded">
                <input type="text" placeholder="lorem epsum sit" />
              </div>
              <div class="form-field">
                <input type="text" placeholder="lorem epsum sit" />
              </div>
              <div class="map__button">
                <p>Configure</p>
                <button class="l-modify" href="#" title="button"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
            <div class="map_fields">
              <div class="form-field form-field--rounded">
                <input type="text" placeholder="lorem epsum sit" />
              </div>
              <div class="form-field form-field--rounded">
                <input type="text" placeholder="lorem epsum sit" />
              </div>
              <div class="map__button">
                <p>Configure</p>
                <button class="l-modify" href="#" title="button"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
            <div class="map_fields">
              <div class="form-field form-field--rounded">
                <input type="text" placeholder="lorem epsum sit" />
              </div>
              <div class="form-field form-field--rounded">
                <input type="text" placeholder="lorem epsum sit" />
              </div>
              <div class="map__button">
                <p>Configure</p>
                <button class="l-modify" href="#" title="button"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="next__wrap">
        <button class="l-btn" type="button" @click="mapCustomerObjects">
          Next<i class="fas fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
    <!-- Sync Page -->
    <div class="zy product" v-if="step === 'map' && mapStep === 'product'">
      <div class="hero-text">
        <h1>Map your products</h1>
      </div>
      <div class="bg-grey">
        <div class="card card--product">
          <div class="product__wrap button__wrap">
            <div class="product__left">
              <div class="product__thumb"><img src="../assets/images/Hubspot-logo.svg" alt="Logo" /></div>
              <div class="form-field">
                <input ref="product_input" type="text" placeholder="Hubspot Product" v-model="hubspotProduct" />
                <!--
                <button
                  class="l-add-more"
                  type="button"
                  :disabled="!hubspotProduct || !stripeProduct"
                  @click="addObjectProperties({ hubspotProduct, stripeProduct })"
                >
                <i class="fas fa-plus"></i>Add new mapping
              </button>
              --></div>
            </div>
            <div class="product__right">
              <div class="product__thumb"><img src="../assets/images/Stripe-logo.png" alt="Logo" /></div>
              <div class="form-field">
                <select name="connect" id="connect" v-model="stripeProduct">
                  <option value="">-Select-</option>
                  <option v-for="(product, index) in stripeProductList" :key="index" :value="product.value">
                    {{ product.label }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-field">
              <button
                class="l-add-more"
                type="button"
                :disabled="!hubspotProduct || !stripeProduct"
                @click="addObjectProperties({ hubspotProduct, stripeProduct })"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <!-- Added Products -->
          <div class="" v-for="(product, index) in object.mapped_products" :key="index">
            <div class="product__wrap">
              <div class="product__left">
                <div class="form-field">
                  <input type="text" v-model="product.hubspotProduct" />
                </div>
              </div>
              <div class="product__right">
                <div class="form-field">
                  <input type="text" v-model="product.stripeProduct" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="next__wrap">
        <button class="l-btn" type="button" @click="mapProductObjects">
          Next<i class="fas fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

export default {
  name: "Zeybra",
  data() {
    return {
      step: "connect",
      mapStep: "customer",
      stripe: {
        secretKey: "",
        accessToken: "",
      },
      loading: false,
      objects: [],
      object: {
        mapped_products: [],
      },
      hubspotProduct: "",
      stripeProduct: "",
      errors: {
        hubspotProduct: "",
      },
      hubspotProductList: [],
      stripeProductList: [],
    };
  },
  props: {},
  computed: {},
  methods: {
    // Navigate across steps
    navigateSteps(step) {
      switch (step) {
        case "connect":
          this.step = "connect";
          break;
        case "map": {
          this.step = "map";
          this.mapStep = "customer";
          this.setStripeProductList();
          break;
        }
        case "sync":
          this.step = "sync";
          break;
        case "sell":
          this.step = "sell";
          break;
        default:
          this.step = "connect";
          break;
      }
    },
    navigateMapSteps(step) {
      switch (step) {
        case "customer":
          this.mapStep = "customer";
          break;
        case "product": {
          this.mapStep = "product";
          break;
        }
        case "subscription":
          this.mapStep = "subscription";
          break;
        default:
          this.mapStep = "customer";
          break;
      }
    },
    loginToStripe() {
      this.loading = true;
      axios.interceptors.request.eject();
      const { secretKey, accessToken } = this.stripe;
      const data = {
          sk: secretKey,
          pk: accessToken,
        };
        const config = {
          headers: {
            Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMTY0LCJpYXQiOjE2NDUwODM4OTd9.Xti9AcMnoWsf4qSly9YKcG5dDE6wqdahOTIEI-4HAfs',
            "Content-Type": "application/json",
          },
        };

        axios
          .post('https://zeybra.dev-api.wrg-apps.com/stripe/verify', data, config)
          .then((res) => {
            console.log("res", res);
            this.hasStripeLogin = true;
            this.navigateSteps("map");
            this.navigateSteps("map");
          })
          .catch(function (error) {
            this.loading = false;
            console.log(error);
          });
    },
    mapCustomerObjects() {
      this.navigateMapSteps("product");
    },
    mapProductObjects() {
      this.navigateMapSteps("subscription");
    },
    syncObjects() {
      this.navigateMapSteps("sell");
    },
    addObjectProperties(mapped_product) {
      let error = false;
      if (this.object.mapped_products.length > 0) {
        this.object.mapped_products.forEach((item) => {
          if (item.hubspotProduct.toLowerCase() === mapped_product.hubspotProduct.toLowerCase()) {
            this.errors.hubspotProduct = "Product already mapped !!!";
            error = true;
            return;
          }
        });
      }
      if (!error) {
        this.errors.hubspotProduct = "";
        this.object.mapped_products.push(mapped_product);
        this.hubspotProduct = "";
        this.stripeProduct = "";
        this.$refs.product_input.focus();
      }
      console.log('this.object', this.object);
    },
    setStripeProductList() {
       this.stripeProductList = [
        {
          label: "Product1",
          value: "Product1",
        },
        {
          label: "Product2",
          value: "Product2",
        },
        {
          label: "Product3",
          value: "Product3",
        },
      ];
      console.log('this.stripeProductList', this.stripeProductList);
    },
  },
};
</script>
<style scoped>
@import "../assets/css/main.css";
</style>
