@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
html,
body {
  font-family: "Open Sans" !important;
  font-size: 16px !important;
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
div {
  caret-color: transparent;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.625rem;
  padding: 1.875rem 1.25rem;
  margin-top: 1.875rem;
  margin: 0 auto;
  background-color: #fff;
}

.hero-text {
  margin: 25px 0px 38px;
  text-align: center;
}
.hero-text h1 {
  font-size: 25px !important;
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans" !important;
  margin: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

input,
select {
  outline: none;
  caret-color: #858796;
}

button,
button:hover,
button[hover],
button:focus,
button[focus] {
  outline: none !important;
}

.bg-grey {
  background-color: #f6f7fc;
  padding: 20px;
}

.l-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.l-configure {
  display: inline-block;
  margin-right: 0.625rem;
  color: #199bad;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.l-configure.disabled,
.l-configure[disabled] {
  color: #a19e9e;
}

/* Hide the browser's default radio button */
.l-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #4eb819;
}

/* On mouse-over, add a grey background color */
.l-radio:hover input ~ .checkmark {
  background-color: #4eb819;
}

/* When the radio button is checked, add a blue background */
.l-radio input:checked ~ .checkmark {
  background-color: #4eb819;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.l-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.l-radio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

.form-field {
  margin-bottom: 0.9375rem;
}
.form-field input {
  width: -webkit-fill-available;
  border: 1px solid #199bad;
  padding: 0.3125rem 1.25rem;
  flex: 0 0 calc(100% - 20px);
}
.form-field select {
  width: -webkit-fill-available;
  flex: 0 0 calc(100% - 20px);
  border: 1px solid #199bad;
  padding: 0.3125rem 1.25rem;
  background-color: #fff;
}
.form-field select option {
  padding: 0.3125rem 1.25rem;
}
.form-field--rounded input {
  border-radius: 20px;
}
.map_fields .form-field {
  position: relative;
}
.map_fields .form-field:first-child:after {
  content: "";
  height: 2px;
  background-color: #858796;
  width: 18px;
  left: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.l-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.l-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.l-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.l-toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .l-toggle-slider {
  background-color: #009a81;
}

input:focus + .l-toggle-slider {
  box-shadow: 0 0 1px #009a81;
}

input:checked + .l-toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded l-toggle-sliders */
.l-toggle-slider.round {
  border-radius: 34px;
}

.l-toggle-slider.round:before {
  border-radius: 50%;
}

.container {
  max-width: 820px !important;
  margin: 0 auto !important;
  padding: 0 0.9375rem;
}

.zy.connect {
  text-align: center;
  max-width: 37.5rem;
  margin: 0 auto;
}
.zy.connect .connect__card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd;
  padding-bottom: 0.625rem;
  margin-bottom: 1.25rem;
}
.zy.connect .connect__thumb {
  max-width: 9.375rem;
}

.zy.customer .customer__wrap {
  max-width: 284px;
  margin: 0 auto;
  /* padding: 20px 35px; */
  border-radius: 15px;
}

.zy.customer h2 {
  font-size: 21px;
  margin-bottom: 32px !important;
  font-weight: 500;
}

.zy.loader {
  text-align: center;
}
.zy.loader .lds-ring {
  display: inline-block;
  position: relative;
  width: 167px;
  height: 167px;
  margin-bottom: 30px;
}
.zy.loader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 8px;
  border: 20px solid #4eb819;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4eb819 transparent transparent transparent;
}
.zy.loader .static-ring {
  text-align: -webkit-center;
}
.zy.loader .static-ring div {
  box-sizing: border-box;
  display: block;
  width: 150px;
  height: 150px;
  margin: 8px;
  border: 20px solid #4eb819;
  border-radius: 50%;
  border-color: #4eb819;
}
.zy.loader .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.zy.loader .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.zy.loader .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.zy.loader h2 {
  font-size: 25px !important;
  font-weight: 600 !important;
  margin-bottom: 1.25rem !important;
}
.zy.loader .success__wrap {
  background-color: #4eb819;
  border-radius: 50%;
  border: 0;
  display: inline-block;
  margin-bottom: 1.875rem;
}
.zy.loader .success__wrap i {
  font-size: 9.375rem;
  color: #fff;
}
.zy.loader .cancel__wrap {
  background-color: #8b8080;
  border-radius: 50%;
  border: 0;
  display: inline-block;
  margin-bottom: 1.875rem;
}
.zy.loader .cancel__wrap i {
  font-size: 9.375rem;
  color: #fff;
}

.zy.map .map_fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zy.map .map_fields .form-field {
  width: 40%;
  flex: 0 0 40%;
  margin-right: 0.625rem;
}
.zy.map .map_fields .map__button {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.zy.process-nav {
  max-width: 800px;
  margin: 10% auto 6%;
}
.zy.process-nav ul {
  display: flex;
}
.zy.process-nav ul li {
  display: inline-flex;
  width: 33.3%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.zy.process-nav ul li .step-item {
  border: 0.125rem solid #8b8080;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.zy.process-nav ul li .step-item::before {
  content: "";
  height: 4px;
  width: 398%;
  right: 132%;
  position: absolute;
  background: #ddd;
}
.zy.process-nav ul li .step-item i {
  font-size: 25px;
  color: #fff;
  display: none;
}
.zy.process-nav ul li.active .step-item {
  background-color: #4eb819;
  color: #fff;
  border-color: #4eb819;
}
.zy.process-nav ul li.active .step-item::before {
  background-color: #4eb819;
}
.zy.process-nav ul li.active .step-item span {
  display: none;
}
.zy.process-nav ul li.active .step-item i {
  display: inline-block;
}
.zy.process-nav ul li.first-quarter .step-item::after {
  content: "";
  height: 4px;
  /* width: 91%;
  right: 438%; */
  width: 138%;
  right: 390%;
  position: absolute;
  background: #4eb819;
}
.zy.process-nav ul li.second-quarter .step-item::after {
  content: "";
  height: 4px;
  /* width: 166%;
  right: 360%; */
  width: 266%;
  right: 262%;
  position: absolute;
  background: #4eb819;
}
.zy.process-nav ul li.third-quarter .step-item::after {
  content: "";
  height: 4px;
  width: 235%;
  right: 292%;
  position: absolute;
  background: #4eb819;
}
.zy.process-nav ul li.fourth-quarter .step-item::after {
  content: "";
  height: 4px;
  width: 316%;
  right: 210%;
  position: absolute;
  background: #4eb819;
}
.zy.process-nav ul li h3 {
  color: #8b8080;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.75rem;
}
.zy.process-nav ul li:first-child .step-item::before {
  content: none;
}

.container {
  margin: 6.25rem auto;
  max-width: 64rem;
}

.next__wrap {
  text-align: right;
  margin-top: 2rem;
  padding-bottom: 4.6875rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem;
  margin-bottom: 2rem;
}

.next_sm_wrap {
  padding: 0 6rem;
}

.next_single_wrap {
  justify-content: flex-end;
}

.l-btn {
  padding: 0.525rem 0.8775rem;
  background-color: orange;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  min-width: 7.5rem;
}
.l-btn i {
  margin-left: 10px;
}
.l-btn.back {
  background-color: #4eb819;
  margin-right: 50px;
}
.l-btn.back i {
  margin-right: 5px;
  margin-left: 0;
}
.l-btn.cancel {
  background-color: #8b8080;
}
.l-add-more {
  background-color: transparent;
  -webkit-appearance: none;
  color: #fff;
  border: 0;
  margin-top: 3.82rem;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: #4eb819;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 14px;
  padding: 7.6px 11.6px;
}

.l-add-more.disabled,
.l-add-more[disabled] {
  background: #a19e9e;
}

.l-minus {
  background-color: transparent;
  -webkit-appearance: none;
  color: #fff;
  border: 0;
  margin-top: 0;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: #8b8080;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 14px;
  padding: 7.6px 11.6px;
}

.zy.product .product__thumb {
  text-align: center;
  max-width: 9.375rem;
  margin: 0 auto 20px;
  height: 2.6rem;
}
.zy.product .product__thumb img {
  height: 34px;
}

.zy.product .product__thumb.stripe__thumb img {
  height: 46px;
}

.zy.product .product__wrap {
  display: flex;
}
.zy.product .product__wrap .product__left {
  width: 45%;
  flex: 0 0 45%;
  margin-right: 1.25rem;
}
.zy.product .product__wrap .product__right {
  width: 45%;
  flex: 0 0 45%;
}

/* error text*/
.z-container .has-text-danger {
  color: #f14668 !important;
}
.z-container .has-text-left {
  text-align: left !important;
}
.z-container .err_text {
  font-size: 1rem;
}

/* Override Modal styles*/
.z-container .modal-dialog {
  margin: auto !important;
}
.z-container .z-modal-body {
  padding: 1rem;
}
